body{
	font-family: 'Merriweather', serif;
}


.navbar{
	background: navy;
	font-family: none;
}


.header{
	margin-top: 200px;
	
}

#light{
	background-color: navy;
}


 #light a{
 	background: #FFFF00
 }


.shift{
	margin-top: 100px;
}



#bright h3{
	margin-top: 50px;

}

.lot{
	margin-top: 100px;
	color: gray;
}

.about{
	margin-top: 80px;
	color: gray;
}


#services{
	background: ghostwhite;
	
}

.line{
	height:2px;
	border-width:0px;
	color:#FFFF00;
	background-color:#FFFF00;
	width: 10%
}

#action{
	background-color: navy;
}


footer{
	background-color: #2b2d2f;
}

.footer-header{
	font-family: none;
}




@media screen and (min-width: 576px){
  .row-reverse{
  	image-rendering: 2
  }

}








/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in bootsrap

Small (sm) devices (landscape phones, 576pxx and up)
@media (min-width: 576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}

Large (lg) devices  (desktops, 992px and up)
@media (min-width: 992px) {...}

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {...} 
*/