
.showcase{
	background: navy;
	
	

}

.navbar{
	background: navy;
}


.header{
	margin-top: 200px;
}

.header a{
	background: #FFFF00
}


.img{
	margin-top: 100px;
}



#bright h3{
	margin-top: 50px;
}

.lot{
	margin-top: 150px;
	color: gray;
}

.about{
	margin-top: 80px;
	color: gray;
}


#services{
	background: ghostwhite;
	
}

.whatwedo{
	/*margin-top: 50px;*/
}


.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}


.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
   
 cursor: pointer;
 align-items: center;
 justify-content: center;
 margin: 0 3em 3em 0;
 border-radius: 50%;
 padding: .25em;
 width: 80px;
 height: 80px;
 background-color: navy;
}

.show {
  visibility: visible;
  opacity: 1;
}
 
.hide {
  visibility: hidden;
  opacity: 0;
}


svg {
 fill: #000;
 width: 24px;
 height: 12px;
}
 
&:hover {
 background-color: #E8E8E8;
 
    svg {
     fill: #000000;
    }









/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in bootsrap

Small (sm) devices (landscape phones, 576pxx and up)
@media (min-width: 576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}

Large (lg) devices  (desktops, 992px and up)
@media (min-width: 992px) {...}

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {...} 
*/